* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #89898b;
}

i,
em {
	font-style: normal;
}

b,
strong {
	font-weight: normal;
}

.clearfix:after,
.clearfix:before {
	content: "";
	display: block;
	clear: both;
	overflow: hidden;
	visibility: hidden;
	height: 0;
}


#main-content .content {
	/* 44*/
	width: 100%;
	height: 500px;
	/*background: red;*/
	margin: 0 auto;
}

#main-content .content .bigView {
	width: 90%;
	height: 500px;
	/*background: blue;*/
	float: left;
	overflow: hidden;
}

#main-content .content .bigView img {
	width: 100%;
	height: 500px;
}

#main-content .content .smallBox {
	width: 10%;
	padding-right: 0;
	height: 500px;
	float: right;

	/* overflow: hidden; */
	/* 水平方向: 隐藏滚动条*/
	overflow-x: hidden;
	/* 垂直方向: 需要滚动(不需要隐藏)*/
	/* overflow-y: scroll; */
}

#main-content .content .smallView {
	/*width: 64px;*/
	width: 100%;
	height: 500px;
	/*background: purple;*/
	/*float: right;*/
	/*overflow: auto;*/

	overflow-x: hidden;
}

#main-content .content .smallView img {
	width: 100%;
	float: left;
	margin-bottom: 4px;
	border: 1px solid white;
}
#main-content .myself{
	width: 100%;
	height: 1000px;
	background: bisque;
	padding-top: 55px;
	text-align: center;
}
#main-content .myself .title a{
	color: white;
	font-size: 24px;
	line-height: 42px;
}
#main-content .myself .detail{
	color: white;
	font-size: 13px;
	line-height: 52px;
}
#main-content .myself .show{
	width: 1100px;
	padding-top: 70px;
	background: #008000;
	margin: 0 auto;
}
#main-content .myself .show .section{}
#main-content .myself .show .section i{}
#main-content .myself .show .section h4{}
#main-content .myself .show .section p{}
